dictionary.txt
/dictionary/credentials.json
.idea
/core/credentials.json
/leaftheme/dictionary.txt
CLAUDE.md
/tests
/.claude
dev.env
__pycache__
history.json

# UUID session directories created by OAuth flow
????????-????-????-????-????????????/
